body {
    font-family: 'Catamaran', sans-serif;
}

header {
    display:flex;
    align-items: center;
    justify-content: center;
    margin:0;
}

iframe {
    width: 100%;
}

main {
    margin: 0;
}

.resume {
    margin: 2rem
}

.resume h1 {
    margin-bottom: 2rem;
}

section {
    padding: 3rem 10vw;
}

.art {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
}

.art h1 {
    margin-bottom: 2rem;
}

.img1 {
    background-image: url('../images/art/sunset-bridge.jpeg');
}

.img2 {
    background-image: url('../images/art/dreamy-mountains.jpeg');
}

.img3 {
    background-image: url('../images/art/lovebirds.jpeg');
}

.img4 {
    background-image: url('../images/art/burning-city.jpeg');
}

.img5 {
    background-image: url('../images/art/days-end.jpeg');
}

.img6 {
    background-image: url('../images/art/in-the-clouds.jpeg');
}

.img7 {
    background-image: url('../images/art/stitch.jpeg');
}

.img8 {
    background-image: url('../images/art/hydrangeas.jpeg');
}

.img9 {
    background-image: url('../images/art/rainy-park.jpeg');
}

.art-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 4 columns on large screens */
    grid-gap: 5px; /* margin between images */
}

.art-piece {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 30vw;
    width: 30vw;
}

@media (max-width: 968px) { /* adjust for smaller screens */
    .art-grid {
        grid-template-columns: repeat(2, 1fr); /* 3 columns on medium screens */
    }
    .art-piece {
        height: 47vw;
        width: 47vw;
    }
}

@media (max-width: 576px) { /* adjust for even smaller screens */
    .art-grid {
        grid-template-columns: 1fr; /* 2 columns on small screens */
    }
    .art-piece {
        height: 90vw;
        width: 90vw;
    }
}

@media screen and (max-width: 756px) {
    section {
        padding: 2rem 2rem;
    }
}