body {
    font-family: 'Catamaran', sans-serif;
}

main {
    margin: 0;
}

header {
    display:flex;
    align-items: center;
    justify-content: center;
    margin:0;
}

/* Resume */

iframe {
    width: 100%;
}

.resume {
    margin: 2rem
}

.resume h1 {
    margin-bottom: 2rem;
}

.resume-section .row {
    display:flex;
    align-items: flex-start;
}

.resume-section p {
    margin: 3px 0;
    font-weight: 300;
}

.experience {
    display:flex;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 1rem;;
}

.position {
    margin-right: 1rem;
}

/* About */

.art {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
}

.art h1 {
    margin-bottom: 2rem;
}

.img1 {
    background-image: url('../images/art/sunset-bridge.jpeg');
}

.img2 {
    background-image: url('../images/art/dreamy-mountains.jpeg');
}

.img3 {
    background-image: url('../images/art/lovebirds.jpeg');
}

.img4 {
    background-image: url('../images/art/burning-city.jpeg');
}

.img5 {
    background-image: url('../images/art/days-end.jpeg');
}

.img6 {
    background-image: url('../images/art/in-the-clouds.jpeg');
}

.img7 {
    background-image: url('../images/art/stitch.jpeg');
}

.img8 {
    background-image: url('../images/art/hydrangeas.jpeg');
}

.img9 {
    background-image: url('../images/art/rainy-park.jpeg');
}

.art-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 4 columns on large screens */
    grid-gap: 5px; /* margin between images */
}

.art-piece {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 30vw;
    width: 30vw;
    position: relative;
    overflow: hidden;
}

.art-piece:hover .overlay {
    opacity: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.73) 100%);
    opacity: 0;
    transition: opacity 0.5s ease;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 20px;
    box-sizing: border-box;
}

.overlay h1 {
    margin: 0;
    color: white;
    font-size: 22px;
}

@media (max-width: 968px) { /* adjust for smaller screens */
    .art-grid {
        grid-template-columns: repeat(2, 1fr); /* 3 columns on medium screens */
    }
    .art-piece {
        height: 47vw;
        width: 47vw;
    }
}

@media (max-width: 576px) { /* adjust for even smaller screens */
    .art-grid {
        grid-template-columns: 1fr; /* 2 columns on small screens */
    }
    .art-piece {
        height: 90vw;
        width: 90vw;
    }
}

@media screen and (max-width: 756px) {
    section {
        padding: 2rem 2rem;
    }
}