/* Text */

* {
    transition: all 300ms;
}

body {
    font-family: 'Oxygen', sans-serif;
    margin: 0 3rem;
    background-color: white;
    color: #331917;
    display:flex;
    flex-direction: column;
}

h1 {
    font-family: 'Roboto Mono', monospace;
}

h2, h3, h4, h5, h6 {
    font-family: 'Rubik', monospace;
}

main h1 {
    margin-bottom:10vh;
}

section h1 {
    margin-bottom: 1rem;
}

.bold {
    font-weight: bold;
}

p {
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    line-height: 1.6;
}

a, a:focus, a:visited, a:link, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

main {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

svg {
    cursor: pointer;
}

/* Underline */

a, a > span {
    position: relative;
    color: inherit;
    text-decoration: none;
    line-height: 24px;
}

/* TODO: Position causes problem with dropdown display*/
a:before, a:after, a > span:before, a > span:after {
    content: '';
    position: relative;
    transition: transform .5s ease;
}

.underline-hover:before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #940242;
    transform: scaleX(0);
}
.underline-hover:hover:before, .underline-hover:focus:before {
    transform: scaleX(1);
}

/* Navigation */
/* TODO: nav bar width on mobile screens*/

nav {
    display:flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    border-bottom: 1px solid #E9E9E9;
    padding: 0.5rem 0;
    margin: 0 5vw;
}

#navbar {
    display:flex !important;
    flex-direction: row;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 1rem 0;
}

#navbarContent a {
    color:#331917;
}

navbar-brand {
    display:flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
}

.navbar-light .navbar-toggler {
    border-color: transparent !important;
}

.navbar-toggler-icon {
    background-image: url('../icons/menu.svg') !important;
}

#logo {
    padding: 0 16px;
    display:flex;
    align-items: center;
}

#logo svg:hover, #logo svg:focus{
    transform: scale(1.1);
}

#name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Righteous', cursive;
    font-size: 30px;
    color: inherit;
}

.custom-nav {
    font-family: 'Roboto Mono', monospace;
    display:flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    margin:0;
    padding: 0;
    top:0;
    align-content: center;
    align-items: center;
}

li a {
    display: block;
    text-align: center;
    color:inherit;
    text-decoration: none;
    padding: 8px 1rem !important;
    transition: color 350ms;
}

li a:hover, li a:focus, .active {
    color: #C4457C !important;
}

/* Header */

header {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    padding: 10rem;
    margin-top:1rem;
    margin-bottom: 3rem;;
    min-height: 85vh;
}

.greeting {
    display:flex;
    flex-direction: column;
    flex:1 1 10rem;
    margin-right: 2rem;
}

.greeting h1 {
    color: #C4457C;
    font-size: 40px;
    font-family: 'Rubik', sans-serif;
}

.greeting h2 {
    color: #940242;
    font-size:45px;
    font-family: 'Roboto Mono', monospace;
}

.my-intro {
    display:flex;
    flex-direction: column;
    flex:2 2 20rem;
}

.tagline {
    font-size: 24px;
}

.in-touch {
    font-size: 18px;
}

/* Projects */

.previews {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20vh;
}

.preview {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 70vw;
}

.project-content {
    display:flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    width:100%;
    gap: 1rem;
}

.thumbnail {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 20rem;
    width:30rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.thumbnail:hover, .thumbnail:focus {
    transform: scale(1.1);
}

.project-info {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width:40%;
    margin-top:1rem;
}

.project-info a:hover, .project-info a:focus {
    transform: scale(1.05);
}

.tags {
    display:flex;
    flex-flow: row wrap;
}

.tag {
    border: 1px solid #C4457C;
    padding: 2px 8px;
    margin: 4px;
    border-radius: 5px;
    font-size: 14px;
}

.atb-img {
    background-image: url('../images/atb/atb-thumbnail.png');
}

.ktp-img {
    background-image: url('../images/ktp/ktp.png');
}

/* Sections */

section {
    padding: 3rem 10vw;
    width: 100%;
}

.white {
    background-color: white;
}

.pink {
    background-color: #faecf2;
}

.blue {
    background-color: #e2f7ff;
}

.grey {
    color: rgb(118, 118, 118);
}

/* Footer */

footer {
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 2rem 0;
    padding:1rem;
    height:50vh;
    gap: 3rem;
    justify-content: center;
}

.socials {
    display:flex;
    width: 200px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

svg:hover, svg:focus {
    transform: scale(1.1);
}

footer p {
    font-size: 16px;
}

/* Top button */

html {
    scroll-behavior: smooth;
}
  
#top {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #C4457C;
    color: white;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#top:hover, #top:focus {
    background-color: #940242;
    color: white;
}

/* Buttons */

.button {
    background-color: transparent;
    padding:8px 16px;
    display:flex;
    align-items: center;
    justify-content: center;
    width: auto;
    border-radius: 10px;
    margin: 2rem 1rem;
}

.btn-pink {
    border: 2px solid #940242;
}

.btn-pink:hover, .btn-pink:focus {
    color: white !important;
    background-color: #940242;
}

.btn-blue {
    border: 2px solid #066b90;
}

.btn-blue:hover, .btn-blue:focus {
    color: white !important;
    background-color: #066b90;
}

.row {
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

/* List */

.resume-section ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.resume-section li {
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    line-height: 1.6;
}

.dark-mode {
    background-color: #1a0d13 !important;
    color: #e7e7e7 !important;
}

@media screen and (max-width: 756px) {
    header {
        padding: 0 10vw;
        gap: 1rem;
    }
    .my-intro p {
        font-size: 18px;
    }
    .greeting h1 {
        font-size: 30px;
        font-family: 'Rubik', sans-serif;
    }
    .greeting h2 {
        font-size:35px;
        font-family: 'Roboto Mono', monospace;
    }
    body {
        font-family: 'Oxygen', sans-serif;
        margin: 0;
    }
    .project-info {
        width: 100%
    }
    .preview {
        min-width: 85vw;
    }
}