/* Text */

* {
    color: #331917;
}

body {
    font-family: 'Oxygen', sans-serif;
    margin: 0 3rem;
}

h1 {
    font-family: 'Roboto Mono', monospace;
}

#greeting {
    color: rgb(255, 148, 148);
    font-size: 30px;
    font-family: 'Oxygen', sans-serif;
}

#intro-name {
    color: rgb(255, 119, 106);
    font-size:35px;
    font-family: 'Roboto Mono', monospace;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 1.6;
}

a, a:focus, a:visited, a:link, a:hover, a:active {
    text-decoration: none;
    color: #331917 !important;
}

/* Navigation */

nav {
    display:flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    border-bottom: 1px solid #E9E9E9;
    padding: 0.5rem 0;
    margin: 0 5vw;
}

#navbar {
    display:flex !important;
    flex-direction: row;
    justify-content: space-between !important;
    align-items: center !important;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
  /* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
  /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: rgb(255, 148, 148);
}
  
input:focus + .slider {
    box-shadow: 0 0 1px rgb(255, 148, 148);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

#logo {
    padding: 0 16px;
    display:flex;
}

#logo #name {
    font-family: 'Righteous', cursive;
    font-size: 30px;
}

.custom-nav {
    font-family: 'Roboto Mono', monospace;
    display:flex;
    flex-direction: row;
    justify-content: right;
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    top:0;
    background-color: white;
    
}

li a {
    display: block;
    text-align: center;
    color:rgb(78, 78, 78);
    text-decoration: none;
    padding: 16px 18px;
    background-color: white;
    transition: color 350ms;
}

li a:hover, .active {
    color: rgb(255, 149, 149) !important;
}

header {
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20vw;
    margin-top:1rem;
    margin-bottom: 3rem;;
}

footer {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
    padding:1rem;
    height:8rem;
    justify-content: space-around;
}

.socials {
    display:flex;
    width: 200px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

footer p {
    font-size: 12px;
}

@media screen and (max-width: 756px) {
    header {
        padding: 0 10vw;
    }
}